
.blog-page{
    padding: 10px;
}

.new-post,.old-post{
    font-size: 18px;
    svg{
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media (min-width:750px){
    .blog-page{
        width: 80%;
        padding: 1rem 1rem;
        margin: 0px auto;
    }
}