.card{
    margin-bottom: 1rem;
}
.blog-page{
    padding: 1rem 1rem;
}
.card-image-top img{
    width: 100%;
    height:200px;
}
.new-post,.old-post{
    font-size: 18px;
    svg{
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media (min-width:750px){
    .blog-page{
        width: 80%;
        margin: 0px auto;
    }
}