.project-card-wrapper{
    .badge-primary{
        color: #fff;
        background: rgb(12, 52, 75);
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 1rem;
    }
    .duration{        
        display: block;
        text-align: center;
        .date{
            padding: 0px 10px;
        }
    }
    .card{
        margin-top: 20px;
        .card-subtitle{
            border-radius: 10px;
            color: rgb(21, 189, 118);
            padding: 5px 12px;
            background: rgb(226, 248, 238);
            display: inline-block;
        }
        .location,.responsibility,.technology{
            margin-bottom: 10px;
            border-bottom: 1px solid #cccccc;
            padding: 5px 0px;
        }
        .location{
            span{
                padding-left:5px;
            }
        }
        .responsibility .item{
            padding-left:5px;
            font-size: 0.9rem;
        }
        .technology{
            border-bottom: none;
        }

    }
    
    
}