.experience-page{
   
   .project-card-wrapper:first-child{
        margin-top:20px;
   }
    .card{
        margin-bottom: 20px;
    }
}
@media (min-width:750px){
    .experience-page{
        width: 80%;
        padding: 1rem 1rem;
        margin: 0px auto;
    }
}