.post-page{
    width: 100%;
    .breadcrumb{
        margin-bottom: 0px;
    }
    .post-comments{
        margin-top:20px;
        padding: 5px;
    }
}
@media (min-width:1000px){
    .post-page{
        width: 1000px;
        margin: 0px auto;
        padding: 1rem 1rem;
    }
}